  <% layout("./layouts/boilerplate.ejs"); %>
  <body>
    <h1>All Listings</h1>
    <!-- <form action="/listings/new" method="get">
      <button type="submit" style="margin: 1rem 5rem; font-size: 1rem;">Create new listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for(listing of allListings) { %>
        <a href="/listings/<%= listing.id %>" class="text-decoration-none">
          <div class="card col">
            <img src="<%= listing.image %>" class="card-img-top" alt="...">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <h6><%= listing.title %></h6>
              <p><b>&#8377; <%= listing.price.toLocaleString("en-IN") %> </b> /night</p>
              <p><%= listing.location %></p>
            </div>
          </div>
        </a>
        <% } %>
    </div>
  </body>
